#!/usr/bin/env python

# default username and password
utorrentcfg = {
	"host" : "default_hostname:1000",
	"login" : "default_login",
	"password" : "default_password",
	"ssl" : False,
	"ssl_verify" : True,
	"api" : None, # None, "linux", "desktop" (2.x), "falcon" (3.x)
	"default_torrent_format" : "{hash_code} {status} {progress}% {size} {dl_speed} {ul_speed} {ratio} {peer_info} eta: {eta} {name} {label}",
}
